<!DOCTYPE html>
<html lang="es">

<!--Incluide cabecera-->
<%- include('template/cabecera'); %>

<body>
    <!---Se incluye navbar-->
        <%- include('template/navbar'); %>

        <h3 class="text-center m-md-5">Medicos especialistas</h3>
        
       <section class="container">
       
        <%- include('template/especialistas'); %>
        <%- include('template/especialistas'); %>
        <%- include('template/especialistas'); %>

       </section>
        <%- include('template/footer'); %>
   
    </body>

</html>